html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 32px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 80px;
}

a {
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px;
}

a.active {
  border: 2px dotted #3d0a4f;
}

li {
  list-style-type: none;
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

a:hover {
  border: 2px dotted #3d0a4f;
}

nav {
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
  display: flex;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
}

.menu {
  display: none;
}

.account-tools {
  flex-basis: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.round-avatar {
  align-self: center;
  object-fit: cover;
  height: 32px;
  width: 32px;
  background: white;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
}

span {
  display: block;
  padding: 0 10px 0 10px;
  min-width: 80px;
  font-size: .7em;
  font-weight: 300;
  font-family: Roboto;
  margin: 0;
  line-height: 1.5em;
}

button {
  margin-right: 20px;
}

h3 {
  padding: 0;
  margin: 0;
}

.loading-bar {
  background: goldenrod;
}

button {
  background: #7B5C86;
  border: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: .7em;
}

button:hover {
  background-color: #4D3655;
}

.selected-btn {
  background-color: #4D3655;
}

.toggle-categories {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.toggle-categories button {
  flex-grow: 1;
  margin: 0;
  flex-basis: 50%;
}

.list {
  display: flex;
  flex-wrap: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list li {
  flex: 1 1 80%;
  margin: 10px auto;
}

.question-list li {
  max-width: 90%;
}

.card {
  border: 3px solid goldenrod;
}

.scorecard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.score {
  border: 3px solid goldenrod;
  padding: 0 12px;
  text-align: center;
  flex: 1, 1, 50px;
}

.score div {
  background: goldenrod;
  color: white;
  border-radius: 50%;
  padding: 12px 0;
  margin-bottom: 10px;
  font-size: 1em;
}

.score p {
  margin: 0;
  display: block;
}

.scorecard h3 {
  display: block;
  flex: 1, 1, 50%;
}

.partial-score p {
  margin: 0;
}

.partial-score {
  flex: 1, 1, 50%;
}

.scorecard img {
  flex: 1, 1, 50%;
}

/* Forms */
.submit-btn {
  background: #7B5C86;
  border: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: .7em;
}

.submit-btn:hover {
  background-color: #4D3655;
}

.submit-btn:disabled {
  background-color:#D3CFD5;
}

.form-container {
  border: 3px solid goldenrod;
  max-width: 670px;
  margin: 60px auto 0 auto;
}

.form-container h3 {
  text-align: center;
  padding: 15px;
  background: #4D3655;
  color: white;
}

form {
  border: 3px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: space-around;
}

select {
  display: block;
  flex: 1, 1, 100px;
  max-width: 300px;
  background: white;
  height: 30px;
  border: none;
  font-size: 22px;
  width: 250px;
  color: #464646;
  box-shadow: 0 5px 25px rgba(0,0,0,.3);
  padding-left: 25px;
}

label {
 align-self: flex-start;
 padding-left: 30px;
 font-style: italic;
 font-weight: 100;
}

.poll-form input {
  margin-right: 15px;
  text-align: center;
}

.poll-form label {
  margin: 0 auto;
  padding: 10px;
}

.poll-form {
  border: 3px solid goldenrod;
  height: 100%;
}

.poll {
  border: 3px solid goldenrod;
  display: flex;
  flex-direction: column;
}

.poll button {
  margin: 15px;
  width: 250px;
}

.options-input {
  text-align: center;
  display: block;
  flex: 1, 1, 100px;
  max-width: 300px;
}

.options-input p{
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.options-input input {
    background: white;
    height: 30px;
    border: none;
    font-size: 20px;
    width: 250px;
    color: #464646;
    box-shadow: 0 5px 25px rgba(0,0,0,.3);
    padding-left: 25px;
}

/* Answered Questions View */
.answer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid goldenrod;
  margin: 0 auto;
  min-height: 80vh;
  justify-content: space-between;
  padding-bottom: 20px;
}

.author-details {
  display: flex;
  background: #4D3655;
  align-self: stretch;
  justify-content: center;
}

.author-details h3 {
  align-self: flex-end;
  color: white;
}

.answer-card span{
  display: block-inline;
  color: goldenrod;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

.answer-card .user-option {
  border: 3px dotted goldenrod;
}

.answer-card div {
  padding: 10px;
  box-sizing: border-box;
}

.answer-card p {
  margin: 0 auto;
}

.vote-count {
  text-align: center;
  font-size: 16px;
}

.percentage {
  text-align: end;
}

.bar {
  box-sizing: border-box;
  background: #AEABAB;
  height: 4px;
  margin: 0 auto;
  position: relative;
}

.bar-level {
  background: #3d0a4f;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.zero-percent {
  display: none;
}


@media all and (max-width:735px) {

/* Nav Bar */
  .menu {
    display: block;
    order: 1;
    flex: 1, 1, 50%;
    color: #7B5C86;
    background: white;
    font-size: 32px;
  }

  .menu:hover {
    color: #3d0a4f;
    background: white;
  }

  .nav-menu.close {
    display: none;
  }

  .nav-menu.open {
    display: flex;
    order: 3;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
  }

  .nav-menu.open li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    min-height: 20px;
    width: 100%;
    margin-right: 30px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
  }

  .nav-menu.open a {
    padding: 10px;
    margin: 10px;
  }

  .account-tools {
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
  }

  nav {
    max-height: 100%;
    flex-wrap: wrap;
  }

/* Leaderboard */
  .scorecard {
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .partial-score p {
    text-align: center;
  }

  .scorecard h3{
    padding-bottom: 10px;
  }

  .score {
    margin: 15px auto;
  }
}

/* 404 Page Not Found */
.page-not-found {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #4C3842;
}

.page-not-found img{
  height: 80vh;
  margin: 0 auto;
}